# Ambiente Virtual
venv/
env/

# Arquivos temporários do Python
__pycache__/
*.pyc

# Banco de dados local (Opcional, mas recomendado)
db.sqlite3

# Arquivos estáticos coletados
staticfiles/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db